table tr:first-child { width: 30%; }
table tr:last-child { width: 70%; }

h1 {
  margin-top: 0;
}

h1 time {
  font-size: 12px;
  font-weight: normal;
  float: right;
}

.nav-stacked ul {
  margin: 2px 0 2px 15px;
}

.nav-stacked ul li a {
  padding: 6px 15px;
}

.alert img {
  margin-top: 10px;
  width: 100%;
}
