table tr:first-child { width: 30%; }
table tr:last-child { width: 70%; }

h1 {
  margin-top: 0;
}

h1 small {
  font-size: 12px;
  font-weight: normal;
  float: right;
}

h1 + h2 {
  margin-top: 0;
  font-size:  28px;
  color:      #aaa;
}

h1 + h2 + hr {
  margin-top: 0;
  margin-bottom: 28px;
}

.nav-stacked ul {
  margin: 2px 0 2px 15px;
}

.nav-stacked ul li a {
  padding: 6px 15px;
}

.post img, .panel img, .alert img {
  width: 100%;
}

#disqus_thread {
  margin-top: 50px;
  padding:    24px 0 10px;
  border-top: 2px solid rgba(0,39,59,.08);
}

iframe {
  border:       0;
  width:        600px;
  height:       350px;
}

@media (min-width: 1200px) {
  iframe {
    width:      750px;
    height:     450px;
  }
}

time {
  display:      inline-block;
  width:        100px;
  color:        #aaa;
}
