.tip {
  position:   relative;
  list-style: none;
}

.tip h3 {
  margin: 0;
}

.tip time {
  position:   absolute;
  right:      10px;
  margin-top: -10px;
  top:        50%;
}
.tip.alert-pending {
  background-color: #fcf8e3;
  border-color:     #faebcc;
  color:            #8a6d3b;
}

.tip.alert-pending hr {
  border-top-color: #f7e1b5;
}

.tip.alert-pending .alert-link {
  color:            #66512c;
}
