body {
  overflow-y: scroll;
}

.sidebar a {
  color: #FFFFFF;
}

.sidebar h1, .sidebar ul, .sidebar p {
  padding: 5px 0;
  margin: 0;
}

.sidebar ul {
  font-size: 0.9em;
}

.content {
  padding: 20px;
}
