---
layout: index
title: Dirk Kelly
subtitle: Internet Software Activist
image: /images/photo-1423753623104-718aaace6772.jpeg
---

{% for post in site.categories.blog limit: 5 %}
  {% unless post.draft %}
    <article class="post" id="{{ post.date | date: '%Y-%m-%d' }}-{{ post.title | replace: ' ','-' }}" data-date="{{ post.date | date: '%Y-%m-%d' }}" data-title="{{ post.title }}">
      <div class="row">
        <div class="col-xs-12">
          {% include post_title.html post=page %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ post.content }}
        </div>
      </div>
    </article>
  {% endunless %}
{% endfor %}

{% for post in site.categories.blog offset: 5 %}
  {% unless post.draft %}
    <article class="post" id="{{ post.date | date: '%Y-%m-%d' }}-{{ post.title | replace: ' ','-' }}" data-date="{{ post.date | date: '%Y-%m-%d' }}" data-title="{{ post.title }}">
      <div class="row">
        <div class="col-xs-12">
          {% include post_title.html post=page %}
        </div>
      </div>
    </article>
  {% endunless %}
{% endfor %}
