---
layout: default
---

<div class="media page-header">
  <div class="media-left">
    <img src="{{site.logo}}" alt="Dirk Kelly - 2014/01/19" class="img-circle" style="width: 100px; height: 100px" />
  </div>
  <div class="media-body">
    <h1>{{site.title}} <small>{{site.subtitle}}</small></h1>
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h1 class="panel-title">Adventure Time <small>In which give my opinions on what an episode means, to me?</small></h1>
  </div>
  <ul class="list-group">
    {% for episode in site.adventure_time %}
      <li class="list-group-item">
        <strong>s{{episode.season}}e{{episode.episode}} - {{ episode.title }}</strong>
        <p>{{ episode.plot }}</p>
      </li>
    {% endfor %}
  </ul>
</div>

{% include sidebar/posts/latest.html %}
