<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Latest Blog Posts
    </h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      {% for post in site.categories.blog %}
        {% if post.url == page.url %} <li class="active">
        {% else %} <li>
        {% endif %}
          <a href="{{post.url}}">
            <time>{{post.date | date_to_string}}</time>
            {{post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
