{% assign post = include.post %}
{% assign heading = include.heading || "h1" %}
{% for member in site.data.members %}
  {% if member.github == post.author %}
    {% assign author = member %}
  {% endif %}
{% endfor %}

<div class="page-header">
  <{{ heading }}><a href="{{ post.url }}">{{ post.title }}</a></{{ heading }}>
  <div class="row">
    <div class="col-xs-12 clearfix">
      <p style="margin-bottom: 0">
        <span style="white-space: nowrap">
          <img class="avatar img-circle" style="margin-top: -5px; width: 30px" src="https://avatars0.githubusercontent.com/u/{{ author.avatar }}" alt="{{ author.name }}">
          <strong>{{ author.name }}</strong>
        </span>
        <small style="white-space: nowrap">{{ post.date | date: '%Y-%m-%d' }}, {{ post.date | date: '%A' }}</small>
      </p>
    </div>
  </div>
</div>
