{% assign post = include.post %}
{% for member in site.data.members %}
  {% if member.github == post.author %}
    {% assign author = member %}
  {% endif %}
{% endfor %}
<div class="page-header media">
  <div class="pull-left">
    <a href="https://github.com/{{ author.github }}">
      <img class="media-object img-circle" src="https://avatars0.githubusercontent.com/u/{{ author.avatar }}" alt="{{ author.name }}"/>
    </a>
  </div>
  <div class="media-body">
    <small>
      <a href="https://github.com/{{ author.github }}">
        {{ author.name }}
      </a>

      {{ post.date | date: '%Y-%m-%d' }}, {{ post.date | date: '%A' }}
    </small>
    <h1 class="media-heading">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
  </div>
</div>
