@media (max-width: 48em) {
  .sidebar {
    padding: 1.5rem 0.5rem 1rem;
  }

  .sidebar ul li {
    display: inline-block;
    margin-right: 5px;
  }

  .content {
    padding-top: 1.5rem;
  }
}

ul#tags, ul#posts {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

#tags li, #posts li {
  list-style: none;
  padding: 0;
}

#tags li {
  font-size: 0.8rem;
  display: inline-block;
}

#tags li a:after {
  content: ","
}

#tags li:last-child a:after {
  content: ""
}

#posts .post-date {
  margin: 5px 0;
}

h1 {
  margin-bottom: 0;
}

h1 + h2, h2 + h3, h3 + h4 {
  margin-top: 0 !important;
}

h2 {
  color: #444;
}

@media print
{
  .hidden-print, .hidden-print *
  {
    display: none !important;
  }

  h2:not(:first-child) {
    page-break-before: always;
  }

  h1 + h2 {
    page-break-before: avoid !important;
  }
}
