body { margin: 0; font-family: 'Roboto Slab', serif; overflow-y: scroll; line-height: 1.2; }
a { text-decoration: none; }

.tags { padding-left: 0; }
.tags li { white-space: nowrap; }
.tags li:not(:last-child) a::after { content: ","; }

.screen { min-height: 96vh; }

.content { box-sizing: border-box; float: left; width: 100%;}
.content blockquote { padding-left: 5px; border-left: 3px solid #DEDEDE; }
.content iframe { padding-bottom: 10px; }
.content img { max-width: 100%; }
.content h1, .content h2, .content h3, .content h4, .content h5 { font-weight: bold; }
.content h2.h3 { font-size: 1.1em; }
.content a { font-weight: bold; color: #326799; }

.content .post-summary { margin-bottom: 30px; }
.content .post-summary h3 { font-size: 1em; color: #464c52; }
.content .post-summary .post-date { display: block; margin-bottom: 5px }

.content .post-content { font-size: 1.2em; }
.content .post-content blockquote p { text-align: left; }
.content .post-content img { width: 100%; margin: 10px 0; }

.comments .comment { overflow: hidden }
.comments .comment img { float: left; width: 30px; border-radius: 15px; margin: 2px 5px 0 0 }
.comments .comment .comment-body { float: left; }
.comments label { width: 100% }
.comments input { width: 100%; padding: 5px; border: 1px solid #cecece; border-radius: 2px; }
.comments textarea { width: 100%; padding: 5px; border: 1px solid #cecece; border-radius: 2px; }
.comments button { padding: 8px 12px; border: none; border-radius: 4px; background: #326799; color: white; }

.sidebar-wrapper { position: relative; background: #326799; padding-left: 0; }

.sidebar { box-sizing: border-box; float: left; max-width: 100%; padding: 10px; color: #FFFFFF; }
.sidebar img { width: 15vw; margin: 0 0; border-radius: 4px }
.sidebar h1, .sidebar ul, .sidebar p { padding: 5px 0; margin: 0; }
.sidebar h1 { font-weight: bold; }
.sidebar h1 a:hover { text-decoration: none; border-bottom: 0; }
.sidebar li { list-style: none; font-weight: bold; margin: 5px 5px 5px 0; }
.sidebar li.active a, .sidebar a:hover { border-bottom: 2px solid #FFF }
.sidebar li:last-child { margin-right: 0; }
.sidebar a, .sidebar a:hover { text-decoration: none; color: #FFFFFF; }

.topbar { margin-top: 20px }
.topbar ul { padding-left: 0; min-height: 30px; margin: 5px 0; }
.topbar li { float: left; margin-right: 10px; list-style: none; font-weight: bold; }
.topbar li.active a { color: #000000; border-bottom: 2px solid #000000; }
.topbar li:last-child { margin-right: 0; }
.topbar a { font-weight: bold; color: #326799; }
.topbar a, .topbar a:hover { text-decoration: none; }
.topbar a:hover { border-bottom: 2px solid #326799 }

.tag-cloud { text-align: justify }

@media only screen and (max-width: 768px) {
  .content { min-height: inherit }
  .sidebar-wrapper { padding: 0 10px; }
  .sidebar { max-width: 100%; float: none; position: relative; text-align: center; }
  .sidebar li { float: none; display: inline-block; margin: 0 5px; padding: 2px; margin-bottom: 0; font-size: 0.9em }
  .sidebar img { width: 30px; margin: -5px 0 0; }
  .topbar { margin-top: 10px; text-align: center }
  .topbar li { float: none; display: inline-block; margin: 3px 5px; padding: 2px; }
  .d-none { display: none; }
}

@media only screen and (min-width: 767px) {
  .sidebar { position: fixed; height: 100%; text-align: left; }
  .content .post-content { font-size: 1.2em; }
}

#disqus_thread { margin-top: 40px; }

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-slab-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('/fonts/roboto-slab-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-slab-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-slab-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-slab-v7-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto-slab-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url('/fonts/roboto-slab-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-slab-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-slab-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-slab-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-slab-v7-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

/* Deprecated */
.text-center { text-align: center; }
.d-inline { display: inline; }
.list-unstyled { list-style: none; }
.list-inline-item { display: inline; }


.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.bg-blue {
  background-color: #326799;
}
