@media (max-width: 48em) {
  .sidebar {
    padding: 1.5rem 0.5rem;
  }
}

ul#tags {
  padding: 0;
}

#tags li {
  font-size: 0.8rem;
  display: inline-block;
  list-style: none;
  padding: 0;
}

#tags li a:after {
  content: ","
}

#tags li:last-child a:after {
  content: ""
}
