<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="/brews">
        Latest Brew Posts
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-stacked">
      {% for brew in site.categories.brews limit:7 %}
        <li>
          <a href="{{brew.url}}">
            <time datetime="{{brew.date}}">{{brew.date | date_to_string}}</time>
            {{brew.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
