{{ $title := .Title }}

{{ partial "head.html" . }}
  <div class="container-fluid">
    <div class="row">
      <div class="sidebar-wrapper col-12 col-md-3">
        <div class="sidebar">
          {{ partial  "sidebar.html" . }}
        </div>
      </div>

      <div class="col-12 col-md-8 col-lg-7 col-xl-5">
        <div class="topbar">
          {{ partial "topbar.html" . }}
        </div>

        <div class="content">
          <h1>{{ $title }}</h1>

          <div class="post-content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ partial "foot.html" . }}
