<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
  {{ partial "head.html" . }}
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-3 sidebar-wrapper">
          {{ partial  "sidebar.html" . }}
        </div>

        <div class="col-12 col-md-9">
          <div class="screen">
            <div class="row">
              {{ partial "topbar.html" . }}

              {{ block "main" . }}
              {{ end }}
            </div>
          </div>
        </div>

        {{ template "_internal/google_analytics.html" . }}
      </div>
    </div>
  </body>
</html>

