<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
  {{ partial "head.html" . }}
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-3 sidebar-wrapper">
          {{ partial  "sidebar.html" . }}
        </div>

        <div class="col-12 col-md-8 col-lg-7 col-xl-6">
          {{ partial "topbar.html" . }}

          {{ block "main" . }}
          {{ end }}

          {{ template "_internal/google_analytics.html" . }}
        </div>
      </div>
    </div>
  </body>
</html>

