<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
  {{ partial "head.html" . }}
  <body>
    {{ partial "navbar.html" . }}
    <div class="container-fluid">
      <div class="row">
        <div class="sidebar-container col-12 col-lg-2 pl-0 pr-0">
          <div class="sidebar-wrapper pl-2" style="width: 100%; height: 100%;">
            <div class="sidebar pt-0">
              <ul class="sidebar-nav pt-0">
                {{ partial  "sidebar.html" . }}
              </ul>
            </div>
          </div>
        </div>

        <div class="body-content col-12 col-lg">
          {{ block "fullscreen" . }}
          {{ end }}

          <div class="screen">
            {{ block "main" . }}
            {{ end }}
          </div>
        </div>

        {{ template "_internal/google_analytics.html" . }}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
      function resizeHeaderOnScroll() {
        const distanceY = window.pageYOffset || document.documentElement.scrollTop,
        shrinkOn = 1,
        headerEls = document.getElementsByClassName('sticky-offset');

        for (let headerEl of headerEls) {
          if (distanceY > shrinkOn) {
            headerEl.classList.add("smaller");
          } else {
            headerEl.classList.remove("smaller");
          }
        }
      }

      window.addEventListener('scroll', resizeHeaderOnScroll);
    </script>
  </body>
</html>

