{{ define "main" }}
  {{ $title := .Title }}
  <div class="content">
    <h1 class="sticky-top sticky-offset mb-0">
      <a>{{ .Title }}</a>
    </h1>
    {{ with .Param "subtitle" }}
      <h2 class="h3">{{ . }}</h2>
    {{ end }}

    {{ if (not .Date.IsZero) }}
      <a href="{{ .Permalink }}"><span class="post-date">{{ .Date.Format "Jan 2, 2006. Monday" }}</span></a>
    {{ end }}

    <div class="post-content mt-3">
      {{ with .Param "source" }}
        <a href="{{ .url }}">{{ .author }} ({{ .publisher }})</a>
      {{ end }}

      {{ with .Param "image" }}
        <img src="{{ . }}" alt="{{ $title }}" class="img-responsive img-thumbnail" />
      {{ end }}

      {{ .Content }}
    </div>

    {{ partial "tags" . }}

    {{ partial "comments" . }}
  </div>
{{ end }}
