{{ range .Params.Videos }}
  {{ if (index .) }}
    {{ $name := (index . "name") }}
    {{ $slug := (index . "slug") }}
    {{ $channel := (index . "channel") }}
    {{ $description := (index . "description") }}

    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <div class="card">
        {{ with $slug }}
          <a href="https://www.youtube.com/watch?v={{ . }}">
            <img class="card-img-top" src="https://img.youtube.com/vi/{{ . }}/0.jpg">
          </a>
        {{ end }}
        <div class="card-body">
          {{ with $slug }}
            <h2 class="card-title"><a href="https://www.youtube.com/watch?v={{ . }}">{{ $name }}</a></h2>
          {{ end }}
          {{ with $description }}
            <p class="card-text">{{ . }}</p>
          {{ end }}
          {{ with $channel }}
            <a href="/tags/{{ . | urlize }}/">{{ . }}</a><br/>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
