{{ define "main" }}
  {{ $title := .Title }}
  <div class="content">
    <h1 class="sticky-top sticky-offset"><a>{{ .Title }}</a></h1>
    <h2 class="h3">{{ .Param "subtitle" }}</h2>

    {{ if (not .Date.IsZero) }}
      <a href="{{ .Permalink }}"><span class="post-date">{{ .Date.Format "Jan 2, 2006. Monday" }}</span></a>
    {{ end }}

    {{ partial "tags" . }}

    <div class="post-content">
      {{ range .Param "videos" }}
        <h2><a href="https://www.youtube.com/watch?v={{ .slug }}">{{ .name }}</a></h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .slug }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <blockquote>
          <strong>{{ .channel }}</strong>
          <p>{{ .description }}</p>
        </blockquote>
      {{ end }}

      {{ .Content }}
    </div>

    {{ partial "comments" . }}
  </div>
{{ end }}
