{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
    {{ partial "sidebar.html" . }}

    <div class="content container">
      <h1 class="post-title">{{ .Title }}</h1>
      {{ if .Param "Subtitle" }}
        <h2>{{ .Param "Subtitle" }}</h2>
      {{ end }}
      <ul id="posts">
          {{ range .Data.Pages }}
          <li>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ if (not .Date.IsZero) }}
              <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
            {{ end }}
            {{ partial "tags" . }}
          </li>
          {{ end }}
      </ul>
    </div>
{{ partial "foot.html" . }}
