{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
    {{ partial "sidebar.html" . }}

    <div class="content container">
      <div class="post">
        <h1 class="post-title">{{ .Title }}</h1>
        {{ if .Param "Subtitle" }}
          <h2>{{ .Param "Subtitle" }}</h2>
        {{ end }}

        {{ if (not .Date.IsZero) }}
          <a href="{{ .Permalink }}"><span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span></a>
        {{ end }}

        {{ partial "tags" . }}

        {{ if .Param "Image" }}
          <a href='{{ .Site.BaseURL }}images/{{ .Param "Image" }}'>
            <img src='{{ .Site.BaseURL }}images/{{ .Param "Image" }}' alt='{{ .Param "Subtitle" }}' />
          </a>
        {{ end }}

        {{ .Content }}

        {{ if (and (.Param "Channel") (.Param "Videos")) }}
          {{ $.Scratch.Set "Channel" (.Param "Channel") }}
          {{ $.Scratch.Set "Videos" (.Param "Videos") }}
          {{ range .Site.Data.channels }}
            {{ .slug }}
            {{ if (eq .slug ($.Scratch.Get "Channel")) }}
              <div class="panel panel-videos">
                {{ range .videos }}
                  {{ if (in ($.Scratch.Get "Videos") .id) }}
                    <h3 class="panel-title" style="margin-bottom: 5px"><a href="{{ .url }}">{{ .name }}</a> <small>{{ .category }}</small></h3>
                    <p style="margin-bottom: 5px">{{ .description }}</p>
                    {{ partial "videos/embed" . }}
                  {{ end }}
                {{ end }}
              </div>

            {{ end }}
          {{ end }}
        {{ end }}

      </div>

      {{ if and (isset .Site.Params "disqusShortname") (ne .Site.Params.disqusShortname "") }}
        {{ partial "disqus" . }}
      {{ end }}
    </div>
{{ partial "foot.html" . }}
