<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="{{site.logo}}" class="pull-left img-circle" style="width: 40px;" />
      <a class="navbar-brand" href="/">Dirk Kelly</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropbown">
          {% include navbars/blogs.html %}
        </li>
        <li>
          <a href="/resume">
            <i class="fa fa-file-text-o"></i>
            Résumé
          </a>
        </li>
        <li>
          <a href="/gifs">
            <i class="fa fa-picture-o"></i>
            Gifs
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="http://twitter.com/dirkabroad">
            <i class="fa fa-twitter-square"></i>
            @dirkabroad
          </a>
        </li>
        <li>
          <a href="http://instagram.com/dirkabroad">
            <i class="fa fa-instagram"></i>
            @dirkabroad
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
