<a href="/" title="{{ .Site.Title }}">
  <img class="d-none d-md-block img-fluid" src="/images/logo.png" alt="{{ .Site.Title }}" />
</a>

<div class="sidebar-about text-center text-md-left">
  <h1><a href="/">{{ .Site.Title }}</a></h1>
  <p class="lead hidden-print" style="font-size: 0.9em">
    {{ .Site.Params.description }}
  </p>
</div>

<ul class="sidebar-nav text-center text-md-left list-unstyled">
  {{ range .Site.Menus.tags }}
    <li class="d-inline d-md-block">
      <a href="{{.URL}}"><strong>{{ .Name }}</strong></a>
    </li>
  {{end}}
</ul>

<ul class="sidebar-nav text-center text-md-left list-unstyled">
  {{ range .Site.Menus.meta }}
    <li class="d-inline d-md-block">
      <a href="{{.URL}}"><strong>{{ .Name }}</strong></a>
    </li>
  {{end}}
</ul>
