body {
  padding: 60px 0;
}

.navbar .brand {
  cursor: pointer;
  margin-left: 0;
}

.navbar .brand:hover {
  color: #333333;
}

.navbar-inner {
  border-radius: 0;
  border: 0;
  background: white;
}

.career h4, .education h4 {
  border-bottom: 2px solid #333;
}

dl {
  margin-top: 10px;
}

dt {
  border-bottom: 1px solid #333;
}

dd {
  margin-bottom: 30px;
}

h5 {
  font-weight: bold;
}

h5 time {
  float: right;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #3F658F;
}

p strong {
  color: #558bc4;
}
