<h3 id="comments">Comments?</h3>

<form method="POST" action="https://api.staticman.net/v2/entry/dirkkelly/dirkkelly/master/comments" style="margin-bottom: 40px">
  <input name="options[redirect]" type="hidden" value="{{ .Permalink }}#comments">
  <input name="options[slug]" type="hidden" value="{{ .Permalink }}">
  <input name="options[entryId]" type="hidden" value="{{ .UniqueID }}">

  <label style="width: 100%">
    <strong>Name</strong><br/>
    <input name="fields[name]" type="text" style="width: 100%; padding: 5px; border: 1px solid #cecece; border-radius: 2px;">
  </label>
  <label style="width: 100%">
    <strong>E-mail</strong><br/>
    <input name="fields[email]" type="email" style="width: 100%; padding: 5px; border: 1px solid #cecece; border-radius: 2px;">
  </label>
  <label style="width: 100%">
    <strong>Message</strong><br/>
    <textarea name="fields[body]" style="width: 100%; padding: 5px; border: 1px solid #cecece; border-radius: 2px;"></textarea>
  </label>

  <button type="submit" style="padding: 8px 12px; border: none; border-radius: 4px; background: #326799; color: white;">Post!</button>
</form>

{{ $comments := readDir "data/comments" }}
{{ $.Scratch.Add "hasComments" 0 }}
{{ $entryId := .UniqueID }}

{{ range $comments }}
  {{ if eq .Name $entryId }}
    {{ $.Scratch.Add "hasComments" 1 }}
    {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
      <blockquote>
        <p>{{ .body | markdownify }}</p>
        <cite>
          <img src="https://www.gravatar.com/avatar/{{ .email }}?s=100">
          <strong>{{ .name }}</strong><br>{{ dateFormat "Jan 2, 2006. Monday" .date }}
        </cite>
      </blockquote>
    {{ end }}
  {{ end }}
{{ end }}

{{ if eq ($.Scratch.Get "hasComments") 0 }}
<p>Hey, be the first who comment this article.</p>
{{ end }}
