<h3 id="comments">Comments?</h3>

<form method="POST" action="https://api.staticman.net/v2/entry/dirkkelly/dirkkelly/master/comments" style="margin-bottom: 40px">
  <input name="options[redirect]" type="hidden" value="{{ .Permalink }}#comments">
  <input name="options[slug]" type="hidden" value="{{ .Permalink }}">

  <label style="width: 100%">
    <strong>Name</strong><br/>
    <input name="fields[name]" type="text" style="width: 100%; padding: 5px; border: 1px solid #cecece; border-radius: 2px;">
  </label>
  <label style="width: 100%">
    <strong>E-mail</strong><br/>
    <input name="fields[email]" type="email" style="width: 100%; padding: 5px; border: 1px solid #cecece; border-radius: 2px;">
  </label>
  <label style="width: 100%">
    <strong>Message</strong><br/>
    <textarea name="fields[body]" style="width: 100%; padding: 5px; border: 1px solid #cecece; border-radius: 2px;"></textarea>
  </label>

  <button type="submit" style="padding: 8px 12px; border: none; border-radius: 4px; background: #326799; color: white;">Post!</button>
</form>
