<head>
  {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content='{{ .Site.Title }}'>
  {{ else }}
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    <meta property="og:title" content='{{ .Title }} &middot; {{ .Site.Title }}'>
  {{ end }}

  {{ with .Param "subtitle" }}
    <meta name="description" content="{{ . }}">
    <meta property="og:description" content="{{ . }}">
  {{ else }}
    {{ with .Summary }}
      <meta name="description" content="{{ . }}">
      <meta property="og:description" content="{{ . }}">
    {{ else }}
      {{ with .Param "description" }}
        <meta name="description" content="{{ . }}">
        <meta property="og:description" content="{{ . }}">
      {{ end }}
    {{ end }}
  {{ end }}

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  {{ with .Param "image" }}
    <meta property="og:image" content="{{ . }}">
  {{ else }}
    <meta property="og:image" content="/images/dirkkelly.png">
  {{ end }}

  {{ with .Param "redirect" }}<meta http-equiv="refresh" content="0;URL='{{ . }}'" />{{ end }}

  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link rel="stylesheet" href="/css/site.css" />
</head>
