{{ partial "head.html" . }}
  {{ partial "sidebar.html" . }}
  <div class="content container">
    {{ range .Data.Pages }}
      {{ if .Param "Redirect" }}
      {{ else }}
        <h1 style="font-size: 1.2em">
          <a href="{{ .Permalink }}">
            {{ .Title }}
          </a>
          {{ if (not .Date.IsZero) }}
            <small style="display: block; margin-top: 5px; font-size: 0.5em">{{ .Date.Format "Mon, Jan 2, 2006" }}</small>
          {{ end }}
          <small style="display: block; font-size: 0.4em">{{ partial "tags" . }}</small>
        </h1>
      {{ end }}
    {{ end }}
  </div>
{{ partial "foot.html" . }}
