{{ define "main" }}
  <div id="homePage">
    <h1 class="sticky-top sticky-offset font-weight-bold">
      Hello, I'm <span class="text-nowrap">Dirk Kelly.</span>
    </h1>

    <h5>
      I want to live in a society where we all have input over the
      decisions that affect us, where we all share custodianship
      over our finite resources, and where we all strive to look
      after each other.
    </h5>

    <h5>
      I don't think that a small handful of people should
      control all the wealth and power in our society and
      decide our fate under a changing climate and collapsing economy.
    </h5>

    <h5>
      I think a revolution is necessary, in progress, and achievable
      if we work together to abandon all the systems supporting this
      unjust society.
    </h5>

    <h5>
      We can do this by creating the necessary
      replacements of these manifestations of power in a manner which
      is collaborative, equitable, and mindful of life and the ecosystem.
    </h5>

    <div class="essays">
      <h2 class="h3 mt-3 mb-0 font-weight-bold">Essays</h2>

      <ul id="essayList" class="list-unstyled">
        {{ range .Site.Pages }}
          {{ if and (not .Date.IsZero) (.Param "featured") }}
            <li>
              <h5 class="mt-2 mb-3 font-weight-bold">
                <a href="{{ .Permalink }}">
                  {{ .Title }}
                  <small>{{ .PublishDate.Format "2006" }}</small>
                </a>
              </h5>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}
