---
title: 5 Years of Snowboarding
author: dirkkelly
---

Where I grew up in Australia it never snows, it wasn't until 2011 that I first saw snow at Perisher Mountain. I was twenty years old and over east for a work trip, we decided to spend the last day traveling four hours so we could snowboard for one.

I had no idea what I was doing, my mate told me to point the board down the mountain and figure it out, it was terrifying, it was amazing, I knew I needed more.

Later that year that same mate, another colleague (Barker), and several other people I barely knew (Nixon and Jones) took a trip to Hakuba Japan, the first night we arrived we went snowboarding. Not only did I not know what I was doing, I nearly impaled myself on safety railing as I fell down the mountain screaming "I don't know how to stop".

<figure class="figure">
  <img src="/blog/images/2016-02-27/dirk-lift.png" alt="Hakuba Mountain Dirk on Lift" class="figure-img img-fluid img-rounded">
  <figcaption class="figure-caption">
    Me on a Lift at Hakuba Mountain.
    <small class="pull-right">Photo by Nixon</small>
  </figcaption>
</figure>

The following 4 days of the vacation were spent in lessons, the days were long, exhausting, and painful. I had difficulty standing up, no difficulty falling back down, and at first was only able to fall left (which would mean unbinding and running across the run to start again on the right hand side). By the second day I was in so much pain that I told my instructor "if I fall over once more, I'm going to start crying", she responded "then don't fall over".

I persisted with lessons and by the fifth day I was able to traverse the easiest runs with the other members of the group, solidarity in the pain required to learn the sport had turned these people I barely knew, into my advisors, mentors and good mates. When I wasn't following the correct form, they'd let me know, when there was something I could improve, they'd suggest it, when I'd made apparent improvements, they'd congratulate me.

<figure class="figure">
  <img src="/blog/images/2016-02-27/hakuba-group.jpg" alt="Hakuba Mountain Group" class="figure-img img-fluid img-rounded">
  <figcaption class="figure-caption">
    Hakuba Mountain Group, with Jones the Guerilla.
    <small class="pull-right">Photo by Nixon</small>
  </figcaption>
</figure>

Not long after this vacation my life was turned upside down and I followed Barker to New York. One of the justifications of this move was that I would be able to experience a lot more snow in America, in fact before I left my soon-to-be supervisor emailed me to let me know of a snowboarding trip she was organizing. I signed up immediately awaited patiently my first trip to a U.S. resort.

That first day-trip was incredible, no longer did I have to take an international flight to access a mountain, instead I could leave the city at 4am and take a five hour bus trip up to the Killington Mountain. Again I built bonds with people that I barely knew and would later become good friends, and Barker and I continued to chase each other down the mountain, improving, falling, and laughing all the day.

<figure class="figure">
  <img src="/blog/images/2016-02-27/new-york-group.jpg" alt="New York Group" class="figure-img img-fluid img-rounded">
  <figcaption class="figure-caption">
    New York Group, most went to Killington.
    <small class="pull-right">Photo by Cathy</small>
  </figcaption>
</figure>

> **No longer did I have to take an international flight to access a mountain.**

For Christmas Barker and I went upstate and spent a day boarding a small mountain to teach our mate Alex what snowboarding was all about. I was starting to get really comfortable on a board and decided it would be my last season on rental equipment. That summer with the research help of Barker, Nixon, and Jones; I bought my snowboard, the Rome Agent Rocker.

<figure class="figure">
  <img src="/blog/images/2016-02-27/rome-agent-rockers.jpg" alt="Rome Agent Rockers" class="figure-img img-fluid img-rounded">
  <figcaption class="figure-caption">
    Rome Agent Rockers Club, I would shortly follow.
    <small class="pull-right">Photo via Nixon</small>
  </figcaption>
</figure>

In November 2012 we went up to Killington again, it was a little early in the season but we were too excited to let any more time pass before we played in the snow again. I was anxious to try out my new board and excited to hang out with my friends, at the beginning of the first run though I lagged behind to help someone, which meant I then had to scramble to find everyone again.

Finally the sport caught up with me, and as I rushed down the mountain to find my group I took a blind turn, skid to avoid the tourists blocking the run, and threw my wrist down to break my fall. I felt the pain immediately in my wrist, even now I can remember the dread as I pulled my glove and watched my hand fall away from my arm.

<figure class="figure">
  <img src="/blog/images/2016-02-27/beth-isreal-union-square.jpg" alt="Beth Israel Hospital New York City" class="figure-img img-fluid img-rounded">
  <figcaption class="figure-caption">
    Beth Israel Hospital New York City
    <small class="pull-right">Photo via <a href="http://www.pbase.com/image/34184351">Hubert J Steed</a></small>
  </figcaption>
</figure>

> **As I pulled my glove and watched my hand fall away from my arm.**

It was the beginning of the season, I was one week away from a snowboarding trip to the midwest, and I had broken my wrist on my brand new snowboard. Recovery wasn't easy, I ended up having surgery after the natural healing turned out to be maligned, I missed the trip, missed the mountains, and sat in my apartment while my housemate Barker enjoyed the holiday we were meant to be having together.

I was never annoyed with snowboarding for the damage I had cauased myself, I knew that it was a result of many factors that someone with more experience and patience would have avoided. I worked hard at my physiotherapy and took solice in repeatadly watching episodes of Adventure Time and The Art of Flight.

<figure class="figure">
  <img src="/blog/images/2016-02-27/the-art-of-flight.jpg" alt="The Art of Flight" class="figure-img img-fluid img-rounded">
  <figcaption class="figure-caption">
    <small class="pull-right">Photo via The Art of Flight</small>
  </figcaption>
</figure>

Finally it was the winter of 2013 and I was able to snowboard again, it had been years since I had boarded with Nixon and Jones, so I took the opportunity to head back out to Japan. This time instead of headed to the touristy location of Hakuba we were visiting a small town of Myoko that the boys had been to the year before.

I was nervous, I was making a lot of mistakes and repeating a lot of bad habits, as such I took it pretty easy. Ultimately I had a great time, and once again the guys were able to give me some tips on how I could improve, I knew that I wanted to keep snowboarding.

Early 2014 I took my first trip to Breckenridge Colorado, thanks to legalization I was able to combine my love for the mountains with my enjoyment of smoking trees. I had discovered a completely different approach to a sport I had once loved, but now was also slightly nervous of. I was able to numb my anxieties and overthinking, and instead just enjoy gliding down the mountain with my mates.

Stoned-boarding would become a big part of how I took on the mountains in 2015, I wasn't able to develop new techniques this way, but I was able to get rid of my bad habits and focus on enjoying myself. I visited Colorado and Canada on numerous occasions, I'd found my rhythm again, even if it was with the help of a substance.

<figure class="figure">
  <img src="/blog/images/2016-02-27/dirk-tree-run.jpg" alt="Dirk enjoying some other trees" class="figure-img img-fluid img-rounded">
  <figcaption class="figure-caption">
    Dirk enjoying some other trees
    <small class="pull-right">Photo by Barker</small>
  </figcaption>
</figure>

That brings me to 2016, and my third trip to Japan with Barker, Nixon, and Jones. This vacation has been incredible for the evolution of my skills, being away from weed, and alongside my mentors resulted in a vacation where I not only improved, but overcame my fears and took on some new skills that I wouldn't have otherwise tried in the past.

<figure class="figure">
  <img src="/blog/images/2016-02-27/myoko-group.jpg" alt="Dirk enjoying some other trees" class="figure-img img-fluid img-rounded">
  <figcaption class="figure-caption">
    Myoko Suginohara Group
    <small class="pull-right">Photo by Bunt</small>
  </figcaption>
</figure>

This time I enjoyed tree-runs, taking jumps, and moving at speeds that I would have previously pulled short of. Jones who previously had felt like he was herding sheep in Colorado was able to impart his wisdom on me and get me back on the path of self improvement.

On day three I went so far as to wax my board, something I had been anxious to do as I knew it would increase the speed, and therefore complexity of the board. I couldn't be happier with the decision to do so, again this opened up even more opportunities to improve and adjust the way I snowboard.

<figure class="figure">
  <img src="/blog/images/2016-02-27/ahdom-kazu-dirk.jpg" alt="Ahdom, Kazu, and Dirk" class="figure-img img-fluid img-rounded">
  <figcaption class="figure-caption">
    Ahdom, Kazu, and Dirk
    <small class="pull-right">Photo by Ahdom</small>
  </figcaption>
</figure>

I also had the privilege to spend time on the mountain with Ahdom, Kazu, and Hiro, our hosts and friends in Myoko. These men are incredibly skilled and take the mountain without fear or hesitation. Trying to keep pace makes me a better and more daring boarder.

It's been five years since I fell in love with falling down mountains, and three years since I hurt myself doing it. I couldn't be more greatful for the amazing people that I do this with all over the world.

<figure class="figure">
  <img src="/blog/images/2016-02-27/myoko-dinner-group.jpg" alt="Myoko Dinner Group" class="figure-img img-fluid img-rounded">
  <figcaption class="figure-caption">
    Myoko Dinner Group
    <small class="pull-right">Photo by Graham</small>
  </figcaption>
</figure>

Barker, Nixon, Jones, Chase, Alex, Nate, Bunt, Finn, Ahdom, Kazu, Cathy, Berry, Horan, Amy, Vicky, Wendy, Isaac, Graham, Hiro and everyone else who I hit the mountains with; thank you for the great times we've had together, and I'll see you on another mountain.
