<!DOCTYPE html>
<html lang="en">
  <head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{site.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:description" content="{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ page.excerpt | strip_html }}{% endif %}" />
    <meta property="og:type" content="article" />
    {% if page.image %}<meta property="og:image" content="{{ page.image }}" />{% endif %}
    <link rel="icon" href="{{site.logo}}" type="image/x-icon">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/css/site.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="google-site-verification" content="m-VA_loVcTMcxGDJT-0pDiQUMn7i6M1OoFpUeZJvk_g" />
  </head>
  <body>
    {%include navbars/main.html %}
    <div class="container">
      {{ content }}
    </div>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
