<!DOCTYPE html>
<html lang="en">
  <head>
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{site.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:description" content="{% if page.subtitle %}{{ page.subtitle }}{% else %}{{ page.excerpt | strip_html }}{% endif %}" />
    <meta property="og:type" content="article" />
    {% if page.image %}<meta property="og:image" content="{{ page.image }}" />{% endif %}
    <link rel="icon" href="{{ site.baseurl }}{{ site.logo }}" type="image/x-icon">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/css/site.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="google-site-verification" content="m-VA_loVcTMcxGDJT-0pDiQUMn7i6M1OoFpUeZJvk_g" />
    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
      analytics.load("fP2H5jwrX0dlAZBTJYnpqk1uFuj3aJv1");
      analytics.page()
      }}();
    </script>
  </head>
  <body>
    {%include navbars/main.html %}
    <div class="container">
      {{ content }}
    </div>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
