---
layout: application
---

<div class="container">
  <article class="post">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        {% include post_title.html post=page %}
      </div>
    </div>

    {% if page.draft %}
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          {% include draft.html %}
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        {{content}}
      </div>
    </div>
  </article>

  <div id="disqus_thread"></div>
</div>

{% include disqus.html %}
