---

---

<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card card-inverse" style="background-color: #333; border-color: #333;">
      <a href="http://interexchange.org/" onclick="track('Clicked Like', 'Like - Image', { name: 'InterExchange' })">
        <img class="card-img-top" src="/images/interexchange.jpg" alt="InterExchange Team Photo">
      </a>
      <div class="card-block clearfix">
        <h3 class="card-title">InterExchange</h3>
        <p class="card-text">Uniting People Through International Exchange.</p>
        <a href="http://interexchange.org/" class="btn btn-primary pull-xs-right" onclick="track('Clicked Like', 'Like - Button', { name: 'InterExchange' })">
          <strong>Go Abroad <i class="fa fa-chevron-right"></i></strong>
        </a>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card card-inverse" style="background-color: #333; border-color: #333;">
      <a href="http://betanyc.us/" onclick="track('Clicked Like', 'Like - Image', { name: 'InterExchange' })">
        <img class="card-img-top" src="/images/betanyc.jpg" alt="Beta.NYC Learning Day Photo">
      </a>
      <div class="card-block clearfix">
        <h3 class="card-title">Beta.NYC</h3>
        <p class="card-text">NYC's civic technology and open government vanguard.</p>
        <a href="http://betanyc.us/" class="btn btn-primary pull-xs-right" onclick="track('Clicked Like', 'Like - Button', { name: 'Beta.NYC' })">
          <strong>Join Us <i class="fa fa-chevron-right"></i></strong>
        </a>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card card-inverse" style="background-color: #333; border-color: #333;">
      <a href="http://citygram.nyc/" onclick="track('Clicked Like', 'Like - Image', { name: 'Citygram.NYC' })">
        <img class="card-img-top" src="/images/citygram.jpg" alt="Citygram.NYC Learning Day Photo">
      </a>
      <div class="card-block clearfix">
        <h3 class="card-title">Citygram.NYC</h3>
        <p class="card-text">Get updates on topics and areas you care about in New York.</p>
        <a href="http://citygram.nyc/" class="btn btn-primary pull-xs-right" onclick="track('Clicked Like', 'Like - Button', { name: 'Citygram.NYC' })">
          <strong>Be Informed <i class="fa fa-chevron-right"></i></strong>
        </a>
      </div>
    </div>
  </div>
</div>
