{{ partial "head.html" . }}
  {{ partial "sidebar.html" . }}
  <div class="content container">
    {{ with (index .Site.Data.channels (substr $.File.LogicalName 0 -3)) }}
      <h1><a href="{{ .url }}">{{ .name }}</a></h1>
      <h3 style="margin-bottom: 0">{{ .category }}</h3>
    {{ end }}
    {{ partial "tags" . }}

    {{ .Content }}
    {{ with (index .Site.Data.channels (substr $.File.LogicalName 0 -3)) }}
      {{ partial "channels/videos" . }}
    {{ end }}
  </div>
{{ partial "foot.html" . }}
